 div >h1,h2,h3{
               display: flex;
               align-content: center;
               text-align: center;
} 
 div >p{
               /* display: flex; */
               text-align: center;
} 
#eye{
    display: flex;
}
div > img{
   width: 370px;
   /* display:flex; */
   margin: auto;
}
.flex-storage{
   display: flex;
    justify-content: space-around;
    align-items: center;
   text-align: center;
   background-color: #0f171c;
}
a{
   margin: 43px;
    text-decoration:none;
    color: antiquewhite;
}
.flet{
   list-style-type:none;
   display: flex;
   justify-content: space-around;
   color: blue;
}
#fan{
   color: #ffcf01;
}
#cont{
   background-color: #ffcf01;
   color: #0f171c;
   padding: 21px 59px;
   border: none;
}
#count{
   background-color: #0f171c;
   color: #ffcf01;
   padding: 21px 66px;
   border: 1px solid #ffcf01;
}
.bottle{
   width: 25px;
}