<!DOCTYPE html>
<html>
     <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-UA-compatible" Content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
        <title> portfolio | home</title> 
        <link rel="stylesheet" href="./margin.css">
</head>
<body>

<h1>Create a Flex Container</h1>

<div class="flex-container">
  <div style= "flex-grow: 12">y</div>
  <div style="flex-shrink: 0">u</div>    
  <div>a</div>  
  <div>s</div>
  <div style="align-self: flex-start">u</div>    
</div>

<p>A Flexible Layout must have a parent element with the <em>display</em> property set to <em>flex</e   m>.</p>

<p>Direct child elements(s) of the flexible container automatically becomes flexible items.</p>

</body>
</html>


<!-- remember to ask a question of style "order",flex direction -->